{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
    <main>
        <div>
            <h1>{{project.name}}</h1>
            <p>{{ project.description|markdownify }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for task in project.tasks.all%}
                        <tbody>
                            <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.assignee}}</td>
                                <td>{{task.start_date|date:"M-d-Y"}}</td>
                                <td>{{task.due_date|date:"M-d-Y"}}</td>
                                <td>{{task.is_completed|yesno:"yes,no"}}</td>
                            </tr>
                        </tbody>
                    {%endfor%}
            {% else %}
                <p>This project has no tasks </p>
            {% endif %}
        </table>
    </div>
    </main>
{% endblock %}